/*=======================================
      >>>>>>>>  F O N T S  <<<<<<<<
========================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/*=======================================
   >>>>>>>>  GENERAL STYLES  <<<<<<<<
========================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.round-btn {
  height: 35px;
  border: 2px solid #e9e9e9;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
  color: #919293;
  transition: border 200ms;
}
.round-btn:hover {
  border-color: #919293;
}

a {
  color: #6CC2F5;
  text-decoration: none;
}
a:hover {
  color: #6CC2F5;
  text-decoration: underline;
}

main {
  flex: 1;
}


/*=======================================
    >>>>>>>  S I D E  M E N U  <<<<<<<
========================================*/

.side-menu {
  min-width: 180px;
  min-height: 100%;
  background-color: #354052;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8594b0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .7px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 200ms;
}
.profile:hover {
  color: #16A4FA;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 40px 0 10px;
  border-radius: 200px;
  border: 4px solid transparent;
  transition: 200ms;
}
.profile:hover .avatar {
  border: 4px solid #16A4FA;
}

.side-menu hr {
  border-color: #4e5767;
  width: 160px;
  margin: 30px auto;
}

.side-menu h4 {
  align-self: baseline;
  margin: 0 0 10px 20px;
  font-size: 12px;
  color: #5e6778;
}

.main-menu {
  padding: 0;
  list-style: none;
  align-self: baseline;
  width: 100%;
  margin: 0;
}

.main-menu li {
  padding: 15px 0 15px 50px;
  display: flex;
}

.item {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 20px 45%;
  transition: 200ms;
  border-left: 4px solid transparent;
}
.item:hover {
  color: white;
  cursor: pointer;
  background-color: #2F3748;
  border-left: 4px solid #16A4FA;
}

.item-home {background-image: url(../assets/home.svg);}
.item-home:hover {background-image: url(../assets/home-active.svg);}

.item-jobs {background-image: url(../assets/briefcase.svg);}
.item-jobs:hover {background-image: url(../assets/briefcase-active.svg);}

.item-resumes {background-image: url(../assets/resume.svg);}
.item-resumes:hover {background-image: url(../assets/resume-active.svg);}

.item-tasks {background-image: url(../assets/clipboard.svg);}
.item-tasks:hover {background-image: url(../assets/clipboard-active.svg);}

.item-calendar {background-image: url(../assets/calendar-side.svg);}
.item-calendar:hover {background-image: url(../assets/calendar-side-active.svg);}

.item-users {background-image: url(../assets/users.svg);}
.item-users:hover {background-image: url(../assets/users-active.svg);}

.item-locations {background-image: url(../assets/location-side.svg);}
.item-locations:hover {background-image: url(../assets/location-side-active.svg);}

.item-workflow {background-image: url(../assets/network.svg);}
.item-workflow:hover {background-image: url(../assets/network-active.svg);}

.item-job-boards {background-image: url(../assets/newspaper.svg);}
.item-job-boards:hover {background-image: url(../assets/newspaper-active.svg);}

.item-social {background-image: url(../assets/share.svg);}
.item-social:hover {background-image: url(../assets/share-active.svg);}


.main-menu label {
  display: block;
  margin: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.main-menu label[for="administrative"] {
  color: #FED603;
}

.main-menu label[for="design"] {
  color: #2BACFD;
}

.main-menu label[for="executive"] {
  color: #E6185F;
}

.main-menu label[for="human-resources"] {
  color: #01AD89;
}


/*========================================
     >>>>>>>>  H E A D E R  <<<<<<<<
=========================================*/

header {
  display: flex;
  height: 75px;
  background-color: #fff;
  border: 2px solid #F2F2F2;
}

header button {
  width: 75px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%;
  transition: background-color 200ms;
  height: 100%;
}
header button:hover {
  background-color: #16A4FA;
}

.search-bar {
  height: 100%;
  flex: 1;
  padding: 20px 20px 20px 50px;
  border: 2px solid transparent;
  border-left-color: #F2F2F2;
  border-right-color: #F2F2F2;
  background-image: url(../assets/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px 50%;
  color: #505050;
  font-size: 20px;
  outline: none;
  transition: 200ms;
}
.search-bar:focus {
  border: 2px solid #16A4FA;
}
.search-bar::placeholder {
  color: #919293;
}

.menu-side-btn {
  background-image: url(../assets/menu.svg);
}
.menu-side-btn:hover {
  background-image: url(../assets/menu-hover.svg);
}

.new-user-btn {
  background-image: url(../assets/new-user.svg);
}
.new-user-btn:hover {
  background-image: url(../assets/new-user-hover.svg);
}

.calendar-btn {
  background-image: url(../assets/calendar.svg);
  border-left: 2px solid #F2F2F2;
}
.calendar-btn:hover {
  background-image: url(../assets/calendar-hover.svg);
}

.menu-grid-btn {
  background-image: url(../assets/menu-grid.svg);
  border-left: 2px solid #F2F2F2;
}
.menu-grid-btn:hover {
  background-image: url(../assets/menu-grid-hover.svg);
}

/******** PANEL 1 ********/

.top-panel {
  display: flex;
  align-items: center;
  padding: 40px;
  color: #919293;
  border-right: 2px solid #F2F2F2;
}

.top-panel-heading {
  flex: 1;
}

.round-btn {
  margin-left: 10px;
}

.position-name {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #616266;
}

.location {
  background-image: url(../assets/location.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 50%;
  padding-left: 20px;
}

.separator {
  margin: 0 10px;
}

.main-panel-btns {
  display: flex;
}

.job-status-btn {
  background-image: url(../assets/circle-open.svg);
  background-position: 15px 50%;
  padding: 0 15px 0 30px;
  font-weight: bold;
  margin: 0;
}

.bookmark-btn {
  width: 35px;
  height: 35px;
  background-image: url(../assets/bookmark.svg);
  padding: 15px;
}

.edit-btn {
  width: 35px;
  height: 35px;
  background-image: url(../assets/edit.svg);
  padding: 15px;
}

.delete-btn {
  width: 35px;
  height: 35px;
  background-image: url(../assets/trash.svg);
  padding: 15px;
}
.delete-btn:hover {
  border-color: #d64343;
  background-image: url(../assets/trash-active.svg);
}

.tab-bar {
  display: flex;
  padding: 0 40px;
  border-right: 2px solid #F2F2F2;
}

.tab {
  padding: 15px 0;
  border-bottom: 4px solid transparent;
  margin-right: 40px;
  color: #919293;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  transition: color 200ms,
              border 200ms;
}
.tab:last-child {
  margin-right: 0;
}
.tab:hover {
  color: #919293;
  text-decoration: none;
  border-bottom: 4px solid;
}

.tab-active {
  color: #505050;
  border-bottom: 4px solid #6CC2F5;
  cursor: default;
}
.tab-active:hover {
  color: #505050;
  border-bottom: 4px solid #6CC2F5;
}

.tab.tab-more {
  display: none;
}

.main-panel {
  background-color: #EDF2F6;
  border-top: 2px solid #E7EBEF;
  padding: 40px;
}

.graphs {
  display: flex;
  align-items: center;
}

.circle-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-graphs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-around;
}

.graphs .round-btn{
  background-color: #fff;
  width: auto;
  padding: 0 20px;
  margin: 0px;
  font-weight: 700;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 10px solid #DBE4EB;
  border-radius: 200px;
  transform: rotate(-45deg);
}

.circle-chart-data {
  transform: rotate(45deg);
  text-align: center;
}

.applicants {
  border-color: #48BAC3;
  border-bottom-color: #DBE4EB;
}

.applicant-count,
.interview-count,
.forward-count {
  font-size: 40px;
  color: #6F7E95;
}

.applicant-label,
.interview-label,
.forward-label {
  margin-top: 3px;
  color: #6F7E95;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}


.interviews {
  border-color: #17A2FC;
  border-right-color: #DBE4EB;
  border-bottom-color: #DBE4EB;
  margin: 0 40px;
}

.forwards {
  border-color: #B567B0;
  border-top-color: #DBE4EB;
  border-right-color: #DBE4EB;
  border-bottom-color: #DBE4EB;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.chart {
  display: block;
  height: 200px;
  margin-bottom: 20px;
}

.divider {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.divider:hover {
  cursor: pointer;
}

.show-hide {
  display: block;
  min-width: 40px;
  height: 30px;
  background-image: url(../assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px;
  padding: 0;
  margin: 0 10px;
  filter: drop-shadow( 0px 0px 3px hsla(0,0%,25%,.3) );
  transform: rotate(180deg);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.divider:hover .show-hide {
  transform: rotate(0deg);
}

.divider hr {
  width: 50%;
  margin: auto 0;
  border-width: 1px;
  border-color: #D9DEE2;
  border-style: solid;
}

.job-info {
  display: flex;
}

.job-info-table {
  width: 66.6666%;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 5px rgba(51,51,51,.4);
  border-collapse: collapse;
}

thead {
  text-align: left;
  background-color: #6F7E95;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}

thead th {
  display: flex;
  align-items: center;
}

.job-edit-btn {
  background-color: #7E8CA7;
  margin-left: 20px;
  padding: 10px;
  padding-left: 25px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../assets/edit-job.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 9px 50%;
  font-weight: 700;
  transition: 200ms;
}
.job-edit-btn:hover {
  background-color: #8594b0;
}

tbody tr {
  display: flex;
  width: 90%;
  min-height: 30px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 13px;
  color: #6F7E95;
  line-height: 1.5;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid #D9DEE2;
}

.hiring-manager-cell {
  display: flex;
  align-items: center;
}

.table-header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.job-detail-label {
  width: 30%;
  font-weight: 700;
  text-transform: uppercase;
}

.job-detail-content {
  width: 70%;
}

.salary {
  font-weight: 700;
}

.hiring-manager-photo {
  width: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  padding-left: 40px;
}

.social-btn {
  margin-bottom: 20px;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px 50%;
  transition: background 200ms ease-in-out,
              box-shadow 200ms;
}

.social-btn.facebook {
  background-color: #4B71C2;
  background-image: url(../assets/facebook.svg);
}
.social-btn.facebook:hover {
  background-color: hsl(220,49%,62%);
  background-size: 25px;
}

.social-btn.twitter {
  background-color: #02ABF0;
  background-image: url(../assets/twitter.svg);
}
.social-btn.twitter:hover   {
  background-color: hsl(197,98%,57%);
  background-size: 25px;
}

.social-btn.linkedin {
  background-color: #0480BC;
  background-image: url(../assets/linkedin.svg);
}
.social-btn.linkedin:hover {
  background-color: hsl(199,95%,47%);
  background-size: 25px;
}

.share-inputs {
  display: flex;
  flex-direction: column;
}

.share-card {
  margin: 30px 0 0;
  color: #6F7E95;
}

.share-card:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 2px solid #D9DEE2;
}

.share-heading {
  margin-bottom: 10px;
  padding-left: 30px;
  vertical-align: middle;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.share-heading.job-link {
  background-image: url(../assets/earth.svg);
}

.share-heading.widget {
  background-image: url(../assets/widget.svg);
}

.share-heading.email {
  background-image: url(../assets/paper-plane.svg);
}

.share-info {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.share-input {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(51,51,51,.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  color: #6F7E95;
  outline: none;
  border: 2px solid transparent;
  transition: 200ms;
}
.share-input:focus {
  border: 2px solid #4DBABE;
  border-right: none;
}

.copy-input {
  display: flex;
}

.copy-btn {
  width: 20%;
  background-color: #4DBABE;
  border-radius: 0 3px 3px 0;
  color: #fff;
  box-shadow: 0 1px 3px rgba(51,51,51,.2);
  transition: 200ms;
}
.copy-btn:hover {
  background-color: #41a7ab;
}

.email-input {
  width: 100%;
  font-size: 13px;
}
.email-input:focus {
  border: 2px solid transparent;
  border-right: none;
  text-decoration: none;
}
.email-input:hover {
  background-color: #41a7ab;
  color: #fff;
}


/*=======================================
    >>>>>>>>  MEDIA QUERIES  <<<<<<<<
========================================*/


/*** Under 1400px width***/
@media (max-width: 1400px) {
  .graphs {
    flex-direction: column;
  }

  .chart-container {
    margin: 40px 0 0 0;
    width: 100%;
  }
}

/*** Under 1085px width***/
@media (max-width: 1085px) {
  .tab:nth-last-child(-n+4) {
    display: none;
  }

  .tab.tab-more {
    display: block;
  }

  .job-info {
    flex-direction: column;
  }

  .job-info-table {
    width: 100%;
  }

  .social {
    padding: 0;
    width: 100%;
  }

  .social-btns {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }

  .social-btn {
    max-width: 200px;
    background-position: 20px 50%;
    text-align: right;
    padding-right: 25px;
  }
}

/*** Under 950px width***/
@media (max-width: 950px) {
  .side-menu {
    position: absolute;
    top: 0;
    bottom: 0px;
    transform: translateX(-200px);
    transition: 300ms;
    z-index: 10;
  }
}

/*** Under 800px width***/
@media (max-width: 800px) {
  .top-panel {
    flex-direction: column;
    align-items: center;
  }

  .top-panel-heading h1,
  .top-panel-heading p {
    text-align: center;
  }


  .tab-bar {
    justify-content: center;
  }

  .main-panel-btns {
    margin-top: 20px;
  }

  .circle-graphs {
    flex-direction: column;
  }

  .circle:not(:last-child) {
    margin-bottom: 20px;
  }

  .circle {
    margin: 0;
  }

  .interviews {
    margin: 0 20px;
  }
}

/*** Under 720px width***/
@media (max-width: 720px) {
  .top-panel,
  .tab-bar,
  .main-panel {
    padding: 20px;
  }

  .tab-bar {
    padding: 0 20px;
  }

  .calendar-btn,
  .new-user-btn,
  .menu-grid-btn {
    display: none;
  }

  .social-btns {
    flex-direction: column;
  }

  .social-btn {
    max-width: 100%;
    background-position: 15px 50%;
    text-align: center;
    padding-right: 0;
  }
}

/*** Under 600px width***/
@media (max-width: 600px) {
  .tab:nth-child(3),
  .tab:nth-child(4) {
    display: none;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .chart {
    height: auto;
    width: 300px;
  }

  tbody tr {
    flex-direction: column;
  }

  .job-detail-content {
    width: 100%;
  }

  .job-detail-label {
    width: 100%;
  }
}

/*** Under 480px width***/
@media (max-width: 480px) {
  header {
    height: 50px;
  }

  header button.menu-side-btn {
    width: 50px;
  }

  .search-bar {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .top-panel,
  .tab-bar,
  .main-panel {
    padding: 10px
  }

  .tab-bar {
    padding-bottom: 0;
  }

  .main-panel {
    padding-top: 20px;
  }

  .top-panel-heading {
    font-size: 14px;
  }
}
